<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" placeholder="enter the name" name="name" value="{{amazon.Name}}">
        <input type="number" placeholder="enter the age" name="age" value="{{amazon.Age}}">
        <input type="number" placeholder="enter the rollno" name="rollno" value="{{amazon.Roll_NO}}">
        <input type="number" placeholder="enter the marks1" name="tamil" value="{{amazon.Marks[0]}}">
        <input type="number" placeholder="enter the marks2" name="english" value={{amazon.Marks[1]}}>
        <input type="number" placeholder="enter the marks3" name="maths" value={{amazon.Marks[2]}}>
        <input type="number" placeholder="enter the marks4" name="science" value={{amazon.Marks[3]}}>
        <input type="number" placeholder="enter the marks5" name="social" value={{amazon.Marks[4]}}>
        <input type="submit" value="submit">

    
</body>
</html>